*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a,
button {
    color: inherit;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

.mt-6 {
    margin-top: 4.5rem;
}

.mt-7 {
    margin-top: 6rem;
}

.mt-md-6 {
    margin-top: 4.5rem;
}

.mt-md-7 {
    margin-top: 6rem;
}